@charset "UTF-8";

@import url(https://fonts.google.com/noto/specimen/Noto+Sans);

:root {
    --neutral-900: hsl(227, 75%, 14%);
    --neutral-800: hsl(226, 25%, 17%);
    --neutral-700: hsl(225, 23%, 24%);
    --neutral-600: hsl(226, 11%, 37%);
    --neutral-300: hsl(0, 0%, 78%);
    --neutral-200: hsl(217, 61%, 90%);
    --neutral-100: hsl(0, 0%, 93%);
    --neutral-0: hsl(200, 60%, 99%);

    --red-400: hsl(3, 86%, 64%);
    --red-500: hsl(3, 71%, 56%);
    --red-500: hsl(3, 77%, 44%);

    --ligh-gradient: linear-gradient(180deg, #EBF2FC 0%, #EEF8F9 100%);
    --dark-gradient: linear-gradient(180deg, #040918 0%, #091540 100%);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Noto', sans-serif;
}

body {
    background: var(--dark-gradient);
    background-color: rgb(61, 143, 115);
    color: white;
    display: flex;
    flex-direction: column;
    align-content: center;
    align-items: center;
    height: 100vh;
}

header {
    background-color: var(--neutral-700);
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 70%;
    margin: 0;
    margin-left: 30px;
    margin-right: 30px;
    margin-top: 20px;
    padding: 8px;
    
    border-radius: 10px;
    border: 2px solid var(--neutral-700);
}

#mode_icon {
    border: 2px solid rgb(87, 86, 86);
    border-radius: 10px;
    background-color: var(--neutral-600);
    padding: 7px;
    width: 35px;
}

#mode_icon {
    cursor: pointer;
}

section {
    display: flex;
    justify-content: center; /* justify content space between no modo desktop */
    align-items: center;  
    flex-direction: row;
    flex-wrap: wrap;
    width: 70%;
    padding: 15px 3%;
    margin-left: 30px;
    margin-right: 30px;
    margin-top: 35px;
}

.titulo1 {
    position: relative;
    font-size: 25px;
    font-weight: bold;  
}

.bar input {
    font-size: 15px;
    color: white;
    background-color: var(--neutral-600);
    margin-left: 5px;
    margin-top: 5px;
    padding: 10px;
    border-radius: 18px;
    border: 2px solid var(--neutral-600);
    border-collapse: 5px;
    text-decoration: none;
    cursor: pointer;
}

.bar input:hover {
    background: var(--neutral-300);
    color: var(--neutral-900);
    font-weight: bold;
}

.bar input:focus {
    border-color: var(--red-400);
    background-color: var(--red-400);
    color: var(--neutral-900);
    font-weight: bold;
}

main {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    gap: 8px;
    width: 100%;
    padding: 15px 3%;
}

.texto h2 {
    font-size: 20px;
    margin-left: 65px;
    margin-right: 30px;
    margin-top: 13px;
    padding: 4px;
    width: 80%;    
}

.texto p {
    color: var(--neutral-300);
    font-size: 15px;
    margin-left: 65px;
    margin-right: 30px;
    padding: 4px;
    width: 80%;
}

.box {
    background-color: var(--neutral-700);
    width: 350px;
    height: 190px;
    padding: 10px;

    border: 2px solid var(--neutral-600);
    border-radius: 15px;
}

.box img {
    float: left;
    width: 60px;
    padding: 5px;
    margin-top: 8px;    
}

.box input {
    background-color: var(--neutral-800);
    color: var(--neutral-100);
    padding: 7px;
    /* margin-top: 25px; */

    border: 1px solid gray;
    border-radius: 15px;
    cursor: pointer;
}

.botao1 {
    display: flex;
    justify-content: space-between;
    margin-top: 32px;
    margin-left: 5px;
    margin-right: 5px;
}

.botao3:hover {
    background-color: var(--red-400);
    color: var(--neutral-900);
    font-weight: bold;
    outline: 0;
}

.botao3:focus {
    border-color: var(--red-400);
    font-weight: bold;
}

.switch {
    position: relative;
    display: inline-block;
    width: 40px;
    height: 21px;
    margin-top: 5px;
}

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.sliderround {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: var(--neutral-600);
    -webkit-transition: .4s;
    transition: .4s;
}

.sliderround:before {
    position: absolute;
    content: "";
    height: 17px;
    width: 16px;
    left: 4px;
    bottom: 2.5px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}

input:checked + .sliderround {
    background-color: var(--red-400);
}

input:focus + .sliderround {
    box-shadow: 0 0 1px #2196F3;
}

input:checked + .sliderround:before {
    -webkit-transform: translateX(17px);
    -ms-transform: translateX(17px);
    transform: translateX(17px);
}

.sliderround {
    border-radius: 34px;
}

.sliderround:before {
    border-radius: 50%;
}

.light#bd {
    background: var(--neutral-200);
    color: var(--neutral-900);
}

.light#bd header, .light#bd #mode_icon {
    background-color: white;
    border: none;
}

.light#bd .bar input {
    background-color: white;
    color: var(--neutral-900);    
    border: var(--neutral-200)
}

.light#bd .bar input:hover {
    background-color: var(--neutral-100);
    color: var(--neutral-800);
}

.light#bd .bar input:focus {
    background-color: var(--red-400);
    color: white;
}

.light#bd .box {
    background-color: white;
    border: none;
}

.light#bd .texto p {
    color: var(--neutral-600);
}

.light#bd .botao3 {
    background-color: white;
    color: var(--neutral-800);
    font-weight: bold;
}

.light#bd .botao3:focus {
    background-color: var(--red-400);
    color: white;
}